body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(242, 247, 242, 0.979);    

}

article {
  width: 100%;
  height: 100%;
  /* border: 50px; */
  border-style: solid;
}

article:nth-child(even) {
  background-color: rgba(10, 0, 0, 0.938);
  grid-auto-rows: row;
}

/* article:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.945);
  /* text-decoration: line-through;} */

  article:nth-child(odd) {
    background-color: red;
    /* grid-auto-rows: row; */
  }


section {
      width: 80vh;
      height: 80vh;
      
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      
      justify-content: center;
      align-items: center;
    }
    
      /* grid-template-rows: repeat(8, 1fr); */


    
    /* center the box and make it visible */


      
            /* center the content of the box */
            /* don't want the content centered? set display to block (justify-content and align items don't do anything on a block container) */
/* .grid {
 
  display: grid;
  grid-template-columns: 50px;
  grid-template-rows: 50px;
  /* grid-auto-rows: ;
  grid-auto-columns: ; 
}*/
